/**
 LAYOUT
 
 html
 
 link
 
 header
 - mobile-menu
 - search
 
 listings
 - apartment
 - details
 - view
 
 features
 
 testimonials
 
 signup
 
 footer
 
 */
    
@import '_variables', '_mixins', '_layout', '_buttons', '_fontSizing'

html
    font-size: 16px
    --vh: 1vh
    --max-height: 100vh


.link
    text-decoration: none
    color: inherit
    &:hover
        text-decoration: underline


// HEADER
.header
    height: $header-h
    background: url('../images/header-background.png')
    @include coverBg


.mobile-menu__hamburger
    position: absolute
    right: 1rem
    top: 1rem
    &:hover
        cursor: pointer
        color: $emphasis-color

.mobile-menu__close
    position: absolute
    left: 1rem
    top: 1rem
    z-index: -1
    opacity: 1
    &:hover
        cursor: pointer
        // color: $emphasis-color


.header__logo
    position: absolute
    top: 1rem
    left: 1rem


.header__nav
    text-transform: uppercase
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 25%
    box-sizing: border-box
    background: $emphasis-color
    z-index: -1
    opacity: 0
    @include flex(column, nowrap, space-around, center)
    
.header__headline
    margin: 0 0 .5rem 0
    font-size: 2.5rem

.header__tagline
    margin: 0
    font-size: 1.5rem

.search
    color: $search-color
    background: rgba(255, 255, 255, .3)
    width: 90%
    margin: 1rem auto 2rem auto
    height: 2
    padding: 5px
    display: grid
    grid-template-rows: repeat(2, 1fr)
    grid-template-columns: repeat(3, 1fr)
    grid-template-areas: "location location location" "rooms budget start"
    grid-gap: 5px
    border-radius: $border-radius


//map each element to its grid area
$search-elements: ("location": location, "rooms": rooms, "budget": budget, "start": start)

@each $el, $loc in $search-elements
    .search__#{$el}
        grid-area: $loc
        border: none
        text-indent: .5rem
        font-size: 1rem

.search__start
    background: $emphasis-color
    font-family: $primary-font
    color: $primary-color
    text-align: center
    padding: .5rem
    text-indent: 0
    &:hover
        color: $emphasis-color
        background: $secondary-color



// LISTINGS
.listings
    padding: 2rem
    background: $listings-bg
    color: $flat-color

.listings__view
    color: $flat-color
    margin-bottom: 1rem
    padding: 0

.view__item
    display: inline

.view--state--active
    color: $secondary-color
    margin-right: 1rem
    font-weight: bold

    
.listings__apartments
    height: $listings-h
    @include flex(column, nowrap, space-around, center)


.apartment
    margin: auto
    background: #fff
    border-radius: $border-radius
    height: $apartments-h
    max-height: $apartments-h-max
    @include flex(column, nowrap, space-between, center)

.apartment__img
    max-width: 100%
    min-height: 60%
    object-fit: cover


.apartment__neighborhood
    text-transform: uppercase
    font-size: .75rem
    margin-bottom: 0

.apartment__address
    margin: 0
    font: 500 1.25rem $secondary-font
    color: $secondary-color

    
.details
    width: 100%
    text-align: center
    text-transform: uppercase
    font-size: .75rem
    @include flex(row, norap, space-around, center)

.details__value
    font-size: 1rem
    color: $emphasis-color

.listings__browse
    display: block
    border-color: $flat-color !important




//FEATURES
.features
    background: $emphasis-color
    padding: 1rem

.glue--content--features
    @include flex(row, wrap, space-around, center)

.features__item
    width: 90%
    margin-bottom: .5rem

.features__icon
    display: block
    margin: auto




// TESTIMONIALS
.testimonials
    color: $secondary-color

.testimonials__quote-section
    width: 90%
    @include flex(row, nowrap, center, baseline)

.testimonials__quote-img
    max-width: 10%
    margin-right: .5rem

.testimonials__people
    width: 90%


.testimonials__person
    display: none

.person--state-quoted
    display: inline-block
    width: 100%
    margin: auto
    text-align: center

.testimonials__name
    text-transform: uppercase
    font-size: .75rem

.testimonials__occupation
    color: $emphasis-color




//SIGNUP    
.signup
    height: $signup-h
    background: url('../images/signup.png')
    @include coverBg



//FOOTER
.footer
    height: $footer-h
    color: $flat-color
    padding: .5rem 1rem


.footer__copyright
    margin: 0

.navbar--location--footer
    width: 100%
    @include flex(row, wrap, space-evenly, center)

.social-media
    width: 100%
    @include flex(row, wrap, space-evenly, center)
