.header {
  padding: 4rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listings {
  padding: 4rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features {
  padding: 4rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials {
  padding: 4rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup {
  padding: 4rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding: 4rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subheading {
  font-family: "Lato", sans-serif;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}

.glue--content--headlines {
  text-align: center;
  padding-top: 10%;
}

.glue--content--features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glue--content--signup {
  margin: auto;
  text-align: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar--location--header {
  width: 50%;
  text-transform: uppercase;
}

.navbar--location--footer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item:hover {
  text-decoration: underline;
}

.social-media {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  border: none;
  font-family: "Lato", sans-serif;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1rem 1.5rem;
  font-size: 15px;
  font-weight: regular;
  line-height: 20px;
}

.button:hover {
  cursor: pointer;
}

.button--type--navigation {
  color: inherit;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: regular;
  line-height: 20px;
}

.button--type--navigation:hover {
  background: #ffffff;
  color: #0F4555;
}

.button--type--action {
  background: #ffffff;
  color: #F5A623 !important;
}

.button--type--action:hover {
  background: #F5A623;
  color: #ffffff !important;
}

.listings {
  background: #F6F8FA;
  height: 100vh;
}

.listings__apartments {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listings__browse {
  color: #0F4555 !important;
  border-color: #E9EAEA !important;
}

.apartment {
  background: #ffffff;
  max-width: 32%;
  height: 100%;
  border-radius: 3px;
}

.apartment__img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 1rem;
}

.apartment__neighborhood {
  font-family: "Lato", sans-serif;
  color: #9B9DA0;
  text-transform: uppercase;
  text-indent: 1rem;
  margin: 0 0 5px 0;
  font-size: 12px;
  font-weight: regular;
  line-height: 16px;
}

.apartment__address {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #0F4555;
  text-indent: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__grid {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__type {
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  color: #9B9DA0;
}

.details__value {
  width: 100%;
  color: #F5A623;
}

.view {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 30%;
  list-style: 0;
  margin: 0;
  padding: 0;
}

.view__item {
  display: inline;
  font-family: "Lato", sans-serif;
  color: #AAAEB2;
  font-size: 15px;
  font-weight: regular;
  line-height: 20px;
}

.view__item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.view--state--active {
  color: #0F4555;
  margin-right: 1rem;
}

.testimonials {
  color: #0F4555;
  width: 100%;
  height: 80vh;
}

.testimonials__heading {
  color: #4D4F56;
}

.testimonials__quote-section {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__quote-img {
  margin-right: 10px;
}

.testimonials__quote {
  padding-top: 2rem;
  color: #0F4555;
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
}

.testimonials__people {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: basline;
      -ms-flex-align: basline;
          align-items: basline;
}

.testimonials__person {
  text-align: center;
}

.testimonials__name {
  color: #0F4555;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.testimonials__occupation {
  color: #F5A623;
  font-size: 18px;
  font-weight: 300;
  line-height: 15px;
}

html {
  scroll-behavior: smooth;
}

.body {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  background-image: url("../images/header-background.png");
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-position: center;
  background-size: cover;
}

.header__logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.header__nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.header__headline {
  margin: 0;
  font-size: 62px;
  font-weight: 300;
  line-height: 74px;
}

.header__tagline {
  margin: 0;
  font-size: 30px;
  font-weight: 100;
  line-height: 36px;
}

.search {
  color: #B5B5B5;
  background: rgba(255, 255, 255, 0.3);
  width: 60%;
  height: 20vh;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "location location location" "rooms budget start";
  grid-gap: 5px;
}

.search__location {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: location;
  text-indent: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: regular;
  line-height: 20px;
}

.search__rooms {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: rooms;
  text-indent: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: regular;
  line-height: 20px;
}

.search__budget {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: budget;
  text-indent: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: regular;
  line-height: 20px;
}

.search__start {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: start;
  text-indent: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: regular;
  line-height: 20px;
}

.search__start {
  background: #F5A623;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  text-align: center;
}

.search__start::after {
  content: ' \2192';
  position: relative;
  right: -15%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search__start:hover::after {
  opacity: 1;
  right: 0;
}

.features {
  background: #F5A623;
  width: 100%;
  height: 70vh;
  text-align: center;
}

.features__item {
  width: 25%;
}

.signup {
  background-image: url("../images/signup.png");
  width: 100%;
  height: 85vh;
  background-position: center;
  background-size: cover;
}

.signup__description {
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: regular;
  line-height: 20px;
}

.signup__button {
  width: 70%;
}

.footer {
  background: #ffffff;
  width: 100%;
  height: 15vh;
  padding: 0 1rem;
  color: #9B9DA0;
  font-size: 14px;
  font-weight: regular;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media__item {
  width: 100%;
  height: 100%;
}

.fab {
  background: #9B9DA0;
  color: #ffffff;
  padding: .75rem;
  max-width: .75rem;
  max-height: .75rem;
  min-width: .75rem;
  min-height: .75rem;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fab:hover {
  background: #F5A623;
}
/*# sourceMappingURL=style.css.map */