@import 'variables', 'mixins', 'layout', 'navigation', 'buttons'

html 
    scroll-behavior: smooth

.body
    color: $primary-color
    font-family: 'Lato', sans-serif
    width: 100%
    @include flex(row, wrap, center, center)
    @include resetLayout
    

.header 
    height: 100vh
    background-image: url('../images/header-background.png')
    box-sizing: border-box
    justify-content: space-around
    @include fullFitBgImg

.header__logo 
    position: absolute
    top: $header-padding
    left: $header-padding

.header__nav  
    position: absolute
    top: $header-padding
    right: $header-padding
    

.header__headline
    margin: 0
    @include typography(62px, 300, 74px)


.header__tagline
    margin: 0
    @include typography(30px, 100, 36px)


.search
    color: $search-color
    background: rgba(255, 255, 255, .3)
    width: 60%
    height: 20vh
    padding: 5px
    display: grid
    grid-template-rows: repeat(2, 1fr)
    grid-template-columns: repeat(3, 1fr)
    grid-template-areas: "location location location" "rooms budget start"
    grid-gap: 5px


//map each element to its grid area
$search-elements: ("location": location, "rooms": rooms, "budget": budget, "start": start)

@each $el, $loc in $search-elements
    .search__#{$el}
        grid-area: $loc
        @include searchInputs

.search__start
    background: $emphasis-color
    font-family: $primary-font
    color: $primary-color
    text-align: center
    &::after
        content: ' \2192'
        position: relative
        right: -15%
        opacity: 0
        transition: $after-transition
    &:hover
        &::after
            opacity: 1
            right: 0
        


.listings
    background: $listings-bg
    height: 100vh



.listings__apartments 
    width: 100%
    height: 70%
    @include flex(row, nowrap, space-between, center)

.listings__browse 
    color: $secondary-color !important
    border-color: #E9EAEA !important

.apartment 
    background: $apartments-bg
    max-width: 32%
    height: 100%
    border-radius: $border-radius


.apartment__img 
    width: 100%
    height: 60%
    object-fit: cover
    padding-bottom: $apartments-padding

.apartment__neighborhood,
    font-family: $primary-font
    color: $flat-color
    text-transform: uppercase
    text-indent: $apartments-padding
    margin: 0 0 5px 0
    @include typography(12px, regular, 16px)   

.apartment__address
    margin: 0
    font-family: $secondary-font
    color: $secondary-color
    text-indent: $apartments-padding
    margin-bottom: $apartments-padding
    @include typography(20px, 300, 22px)


.details
    @include flex(row, nowrap, space-around, center)

.details__grid
    width: 100%
    text-align: center
    @include flex(row, wrap, center, center)

.details__type
    text-transform: uppercase
    width: 100%
    margin: 0
    color: $flat-color

.details__value
    width: 100%
    color: $emphasis-color


.view 
    align-self: start
    width: 30%
    @include resetList
    
.view__item
    display: inline
    font-family: $primary-font
    color: $view-color
    @include typography(15px, regular, 20px)
    &:hover
        cursor: pointer
        text-decoration: underline

.view--state--active
    color: $secondary-color
    margin-right: 1rem




.features
    background: $features-bg
    width: 100%
    height: 70vh
    text-align: center


.features__item
    width: 25%

.testimonials
    color: $secondary-color
    width: 100%
    height: 80vh
    
.testimonials__heading
    color: #4D4F56 

.testimonials__quote-section
    width: 75%
    text-align: center
    margin: auto
    @include flex(row, nowrap, space-around, center)



.testimonials__quote
    margin-top: 2rem

.testimonials__quote
    color: $quote-color
    @include typography(28px, 300, 40px)

.testimonials__people
    width: 100%
    @include flex(row, nowrap, space-around, basline)

.testimonials__person
    text-align: center

.testimonials__name
    color: $secondary-color
    text-transform: uppercase
    @include typography(12px, 500, 15px)

.testimonials__occupation
    color: #F5A623
    @include typography(18px, 300, 15px)

.signup 
    background-image: url('../images/signup.png')
    width: 100%
    height: 80vh
    @include fullFitBgImg


.signup__description
    @include typography(16px, regular, 20px)

.signup__button
    width: 70%

.footer 
    background: $footer-bg
    width: 100%
    height: 15vh
    padding: 0 1rem
    color: $flat-color
    @include typography(14px, regular, 19px)
    @include flex(row, nowrap, space-between, center)



