@import 'variables', 'mixins', 'layout', 'navigation', 'buttons', 'listings', 'testimonials'

html 
    scroll-behavior: smooth
    font-size: 10px

.body
    color: $primary-color
    font-family: 'Lato', sans-serif
    width: 100%
    font-size: $body
    min-width: 320px
    min-height: 480px
    @include flex(row, wrap, center, center)
    @include resetLayout

.mobile-menu
    &:hover
        cursor: pointer
    
.mobile-menu__close
    position: absolute
    top: $header-padding
    left: $header-padding
    display: none !important
    &:hover
        color: $flat-color
    &:active
        transform: translateY(3px)

.mobile-menu__hamburger
    position: absolute
    top: $header-padding
    right: $header-padding
    &:hover
        color: $flat-color
    &:active
        transform: translateY(3px)

.header 
    height: 100vh
    // width: 100%
    background-image: url('../images/header-background.png')
    box-sizing: border-box
    justify-content: space-around
    @include fullFitBgImg

.header__logo 
    position: absolute
    top: $header-padding
    left: $header-padding

.header__close
    position: absolute
    top: $header-padding
    left: $header-padding
    // display: none !important


.header__nav  
    position: absolute
    top: $header-padding
    right: $header-padding
    

.header__headline
    margin: 0
    @include typography($large, 300, $large)


.header__tagline
    margin: 0
    @include typography($med, 100, $med)


.search
    color: $search-color
    background: rgba(255, 255, 255, .3)
    // width: 100%
    max-width: 80&
    height: 20vh
    padding: 5px
    display: grid
    grid-template-rows: repeat(2, 1fr)
    grid-template-columns: repeat(3, 1fr)
    grid-template-areas: "location location location" "rooms budget start"
    grid-gap: 5px


//map each element to its grid area
$search-elements: ("location": location, "rooms": rooms, "budget": budget, "start": start)

@each $el, $loc in $search-elements
    .search__#{$el}
        grid-area: $loc
        @include searchInputs

.search__start
    background: $emphasis-color
    font-family: $primary-font
    color: $primary-color
    text-align: center
    padding: .5rem
    font-size: 1rem
    // word-break: break-all
    // font-size: 50%
    // &::after
    //     content: ' \2192'
    //     position: relative
    //     right: -15%
    //     opacity: 0
    //     transition: $after-transition
    &:hover
        color: $emphasis-color
        background: $secondary-color
        // &::after
        //     opacity: 1
        //     right: 0
        


.glue--content--features
    width: 100%
    height: 100%    

.features
    background: $features-bg
    width: 100%
    height: 85vh
    text-align: center
    // @include flex(row, wrap, center, center)
    // @include flex()
    // align-items: flex-end
    @include flex(column, nowrap, center, center)

.features__icon
    // max-width: 30%

// .features__subheading
//     margin: 0
//     font-size: 1rem

.features__item
    // max-height: 10%
// .features__description
//     font-size: 1rem

// .glue--content--features
//     @include flex(row, wrap, space-between)





.signup 
    background-image: url('../images/signup.png')
    width: 100%
    height: 85vh
    @include fullFitBgImg

.signup__description
    margin-bottom: 2rem
    @include typography(16px, regular, 20px)

.signup__button
    width: 70%



.footer 
    display: none !important
    background: $footer-bg
    width: 100%
    height: 15vh
    padding: 0 1rem
    color: $flat-color
    @include typography(14px, regular, 19px)
    @include flex(row, nowrap, space-between, center)


.social-media__item
    width: 100%
    height: 100%


.fab
    background: $flat-color
    color: $footer-bg
    padding: .75rem
    max-width: .75rem
    max-height: .75rem
    min-width: .75rem
    min-height: .75rem
    border-radius: 50%
    transition: $button-transition
    &:hover
        background: $emphasis-color
